*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    width: 100%;   
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;;
    height: 90%;
    background-color: rgb(98, 96, 96);
    color: bisque;
}
.inputs{
    width: 30em;
    padding: 0.8em;
    margin: 10px;
}
h2{
   padding: 40px;
}
.gender{
    display: flex;
    justify-content: space-between;
    width:400px;
    margin:20px;
  
}

.btn{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(127, 168, 246);
}
.terms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    justify-content: space-between;
    width:400px;
    margin:20px;
}